@page
@model Eduard_Sergiu.Pages.Breakfasts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Breakfast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Breakfast.ID" />
            <div class="form-group">
                <label asp-for="Breakfast.Title" class="control-label"></label>
                <input asp-for="Breakfast.Title" class="form-control" />
                <span asp-validation-for="Breakfast.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breakfast.Price" class="control-label"></label>
                <input asp-for="Breakfast.Price" class="form-control" />
                <span asp-validation-for="Breakfast.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breakfast.RestaurantID" class="control-label">Restaurant Name</label>
                <select asp-for="Breakfast.RestaurantID" class="form-control" asp-items="ViewBag.RestaurantID">
                </select>
                <span asp-validation-for="Breakfast.RestaurantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breakfast.ChefID" class="control-label">Chef Name</label>
                <select asp-for="Breakfast.ChefID" class="form-control" asp-items="ViewBag.ChefID">
                </select>
                <span asp-validation-for="Breakfast.ChefID" class="text-danger"></span>
            </div>
            <div class="form-group">
 <div class="table">
 <table>
 <tr>
 @{
 int cnt = 0;
 foreach (var cat in Model.AssignedCategoryDataList)
{
 if (cnt++ % 3 == 0)
{
@:</tr><tr>
}
@:<td>
 <input type="checkbox"
 name="selectedCategories"
 value="@cat.CategoryID"
 @(Html.Raw(cat.Assigned ?
"checked=\"checked\"" : "")) />
 @cat.CategoryID @: @cat.Name
 @:</td>
 }
 @:</tr>
}
 </table>
 </div>
 </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
